* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  display: block;
  color: white;
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
  text-align: center;
  padding: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  filter: sepia(70%);
  transition: 0.5s;
}

h1:hover {
  filter: sepia(0);
  transform: scale(98%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  border-bottom: 3px solid orange;
  background-color: #000000;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.search {
  align-items: center;
  display: flex;
  position: relative;
  margin: 10px;
}

input {
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.button {
  position: absolute;
  right: 10px;
  color: black;
  cursor: pointer;
}

.next {
  position: fixed;
  top: 90%;
  right: 0%;
  padding: 0.5rem;
  border: 1px solid black;
  margin: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 15px;
}

.picture {
  line-height: 0;
}

.picture__img {
  width: 380px;
  height: 214px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  filter: sepia(70%);
  transition: 0.5s;
}

.picture__img:hover {
  filter: sepia(0);
  transform: scale(98%);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 5px;
}

.pagination__buttons-container {
  display: flex;
  gap: 10px;
  overflow: hidden;
  max-width: 900px;
}

.pagination__button {
  padding: 5px;
  background-color: transparent;
  font-size: 18px;
  border: none;
}

.pagination__button.active,
.pagination__button:hover {
  transform: scale(1.2);
  font-weight: bold;
  cursor: pointer;
}

.rs-icon {
  width: initial;
  height: initial;
}

.footer {
  border-top: 3px solid orange;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer__copyright-flex {
  display: flex;
}

.message {
  text-align: center;
  width: 100%;
}

.footer__copyright {
  padding-left: 20px;
}

@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .header .container {
    flex-direction: column;
    align-items: center;
  }

  .picture__img {
    width: 100%;
  }

  .rs-icon {
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
  }
}